<html>
    <head>
        <title>Divya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Divya's Blog</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}

        <div>
            <p>published: 12.07.2015, 12:14</p>
            <h2><a href="">History of django</a></h2>
            <p>Django was born in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications.[14] It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.[14]

In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.</p>
        </div>

        <div>
            <p>published: 12.07.2015, 12:14</p>
            <h2><a href="">Components</a></h2>
            <p>Despite having its own nomenclature, such as naming the callable objects generating the response "views",[5] the core Django framework can be seen as MVC.[6] It consists of an object-relational mapper which mediates between data models (defined as Python classes) and a relational database ("Model"); a system for processing requests with a web templating system ("View") and a regular-expression-based URL dispatcher ("Controller").

Also included in the core framework are:
<br>
A lightweight and standalone web server for development and testing.<br>
A form serialization and validation system which can translate between HTML forms and values suitable for storage in the database.<br>
A template system that utilizes the concept of inheritance borrowed from object-oriented programming.<br>
A caching framework which can use any of several cache methods.<br>
Support for middleware classes which can intervene at various stages of request processing and carry out custom functions.<br>
An internal dispatcher system which allows components of an application to communicate events to each other via pre-defined signals.<br>
An internationalization system, including translations of Django's own components into a variety of languages.<br>
A serialization system which can produce and read XML and/or JSON representations of Django model instances.<br>
A system for extending the capabilities of the template engine.<br>
An interface to Python's built in unit test framework.</p>
        </div>
    </body>
</html>